{% extends 'main/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<img src="https://media4.giphy.com/media/rEcP2eIDLyw5bZHSJK/200w.webp" width="270" height="270" align="right" id="gif"/>

<br>
<h2>About us</h2>

<hr style="height:5px"/>
<br>
This is a user-friendly website that helps you to make notes and lists to organize your daily schedule.<br><br>
Built using Python, HTML and CSS on the Django web framework.<br><br>  <hr>
<b>Developers:</b> <br>
<a href="https://github.com/geee28">@geee28</a> <br>
<a href="https://github.com/shrav-6">@shrav6</a>


{% endblock %}